<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traxie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css')}}">
    <link rel="icon" href="/static/traxie.png">
</head>
<body>

<div class = "content">
    <img src="/static/traxie.png">
    <p class = "title">T R A X I E</p>
    <hr style = "width: 125%">


    <form action="#" method="post">
        <p><input type="text" name="nm" placeholder="Name"></p>
        <p><input type="text" name="ronin_add" placeholder="Ronin Address"></p>
        <p><input type="text" name="delete_name" placeholder="Name to Delete"></p>
        <p><input type="submit" value="Submit"></p>
    </form>


    <table>
        <tr>
            {% for header in headings%}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for row in summary %}
        <tr>
            {% for item in row%}
            <td>
                {{item}}
            </td>
            {% endfor%}
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>