<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SLP Tracker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <form action="#" method="post">
        <p><input type="text" name="nm" placeholder="Name"></p>
        <p><input type="text" name="ronin_add" placeholder="Ronin Address"></p>
        <p><input type="submit" value="submit"></p>
        <p><input type="submit" value="delete"></p>

    </form>
    <table>
        <tr>
            {% for header in headings%}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for row in summary %}
        <tr>
            {% for item in row%}
            <td>
                {{item}}
            </td>
            {% endfor%}
        </tr>
        {% endfor %}
    </table>

</body>
</html>